<?xml version="1.0" encoding="UTF-8"?>
<config>
    <Project_data
        version_major="1"
        version_minor="0"
        version_mode="DEBUG"
        URL="https://github.com/JonMS95/C_Signal_Handler"
        type="library"
        language="C"
        library_name="SignalHandler"
    />
    <!-- Directory structure -->
    <Directories>
        <lib/>
        <API/>
        <deps>
            <lib/>
            <inc/>
        </deps>
        <test>
            <deps>
                <lib/>
                <inc/>
            </deps>
            <exe/>
        </test>
    </Directories>
    
    <!-- Common shell files location -->
    <Common_shell_files
        version_major="1"
        version_minor="4"
        version_mode="RELEASE"
        local_path="~/C_Common_shell_files"
        URL="https://github.com/JonMS95/C_Common_shell_files"
    />

    <!-- API -->
    <!-- Dependencies -->
    <deps Dest="deps">
        <C_Severity_Log
            version_major="2"
            version_minor="2"
            version_mode="RELEASE"
            local_path="~/C_Severity_Log"
            URL="https://github.com/JonMS95/C_Severity_Log"
        />
        <C_Mutex_Guard
            version_major="1"
            version_minor="0"
            version_mode="RELEASE"
            local_path="~/C_Mutex_Guard"
            URL="https://github.com/JonMS95/C_Mutex_Guard"
        />
    </deps>

    <!-- Tests -->
    <!-- Paths to dependency files for the testing executable. -->
    <test>
        <deps Dest="test/deps" Sorted="Yes">
            <C_Severity_Log
                version_major="2"
                version_minor="2"
                version_mode="RELEASE"
                local_path="~/C_Severity_Log"
                URL="https://github.com/JonMS95/C_Severity_Log"
            />
            <C_Mutex_Guard
                version_major="1"
                version_minor="0"
                version_mode="RELEASE"
                local_path="~/C_Mutex_Guard"
                URL="https://github.com/JonMS95/C_Mutex_Guard"
            />
        </deps>
    </test>
</config>
